<% provide(:title, 'Modifier une sanction') %>

<h1><%= title_sanction(@sanction.user, "Modifier une sanction") %></h1>

<%= form_for(@sanction) do |f| %>
  <%= render 'form', f: f %>
  <%= f.submit "Modifier", class: "btn btn-lg btn-primary" %>
<% end %>
