<div class="center hero-unit">
  <h1>Bienvenue sur OMB training</h1>

  <h3>
    Le site d'entraînement belge aux Olympiades Internationales de Mathématiques
  </h3>
  <p>
  <%= link_to "Inscrivez-vous maintenant!", signup_path, class: "btn btn-large btn-primary" %>
  </p>
</div>

<% link_to image_tag("rails.png", alt: "Rails"), 'http://rubyonrails.org/' %>
