<div class="center hero-unit">
  
  <h1>Bienvenue sur</h1><br/>
  <center>
   <%= image_tag("mathraining.gif") %>
   </center>
   <br/>
  <h3>
    Le site interactif d'entraînement aux Olympiades Internationales de Mathématiques
  </h3>
  <br/>
  <center>
  <%= link_to "Inscrivez-vous maintenant!", signup_path, class: "btn btn-large btn-primary" %>
  </center>
</div>

<% link_to image_tag("rails.png", alt: "Rails"), 'http://rubyonrails.org/' %>
