<div class="center hero-unit">
  <h1>Welcome to the OMB training</h1>

  <h2>
    This is the home page for the OMB training
  </h2>
  <p>
  <%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>
  </p>
</div>

<%= link_to image_tag("rails.png", alt: "Rails"), 'http://rubyonrails.org/' %>
