<% provide(:title, 'A propos') %>
<h1>A propos</h1>
<p>
Le site IMO Belgium Training a été créé afin d'entrainer les élèves belges désirant participer aux Olympiades Internationales de Mathématiques.
</p>
