<% provide(:title, 'Contact') %>

<h1><%= title_1("Contact") %></h1>

Pour tout problème éventuel, contactez-nous à l'adresse suivante :<br/><br/>
<center><%= image_tag "contact.jpg", :style => "width:80%; max-width:288px;" %></center><br/>

Il vous est aussi possible de nous contacter via notre <i><%= link_to "Github repository", "https://github.com/blegat/mathraining" %></i> pour tout ce qui touche au site et à sa programmation.
