<% provide(:title, 'Contact') %>

<h1><%= title_1("Contact") %></h1>

<p>Pour tout problème éventuel, contactez-nous à l'adresse suivante :</p>
<center><%= image_tag "contact.jpg", :style => "width:80%; max-width:288px;", :class => "mt-2 mb-4" %></center>

<p>Il vous est aussi possible de nous contacter via notre <%= link_to "répertoire GitHub", "https://github.com/blegat/mathraining" %> pour tout ce qui touche au site et à sa programmation.</p>
