<% provide(:title, 'Mentions légales') %>
<h1>Mentions légales</h1>
<h3>Cookies</h3>
Le site Mathraining utilise uniquement des cookies strictement nécessaires à la navigation et à la réalisation de statistiques de visites anonymes.
<b>En poursuivant votre navigation sur ce site, vous acceptez l'utilisation de ces cookies.</b>
Vous pouvez néanmoins vous opposer à leur utilisation en paramétrant votre navigateur.
<h3>Hébergeur</h3>
OVH<br/>
2 rue Kellermann,<br/>
59100 Roubaix<br/>
France
