<% provide(:title, 'Politique de confidentialité') %>
<h1>Politique de confidentialité</h1>
<h2>Données collectées</h2>
Les données collectées par Mathraining sont listées ci-dessous. Elles ne sont collectées que dans le but de faire fonctionner le site correctement et afin d'effectuer des statistiques anonymes. Dans la suite, on utilisera librement les termes suivants :
<ul>
<li>Le terme "<b>webmasters</b>" désigne Nicolas Radu et Benoît Legat, qui ont accès à toute la base de données de Mathraining.</li>
<li>Le terme "<b>administrateurs</b>" désigne les personnes dont le nom apparaît en noir sur le site (exemple : <b>Jean Dupont</b>).</li>
<li>Le terme "<b>correcteurs</b>" désigne les personnes dont la première lettre du nom apparaît en noir sur le site (exemple : <b>J<span style="color:red;">ean Dupont</span></b>).</li>
<li>Le terme "<b>étudiants</b>" désigne les personnes inscrites sur le site, en dehors des administrateurs. Leur nom apparaît en couleur sur le site (exemple : <b><span style="color:#008800;">Jean Dupont</span></b>), avec éventuellement la première lettre en noir (voir "correcteurs").</li>
<li>Le terme "<b>visiteurs</b>" désigne les personnes visitant le site (sans forcément y être inscrites).</li>
</ul>

<h3>Données personnelles</h3>
Les données personnelles des administrateurs et étudiants sont stockées sur le site. Il s'agit des données renseignées à l'inscription, à savoir :
<ul>
<li>L'adresse email (visible par les administrateurs).</li>
<li>Le prénom et le nom (visibles par les visiteurs).</li>
<li>Le genre (visible par les visiteurs).</li>
<li>L'année de naissance (visible par les administrateurs).</li>
<li>Le pays (visible par les administrateurs).</li>
<li>Le mot de passe <i>hashé</i> (visible par les webmasters). (NB : Il est impossible de retrouver le mot de passe à partir du mot de passe hashé).</li>
</ul>

<h3>Chapitres et exercices</h3>
Lorsqu'un étudiant lit de la théorie ou résout un exercice, certaines données sont stockées sur le site :
<ul>
<li>La liste des points théoriques marqués comme lus par l'étudiant (visible par les administrateurs).</li>
<li>Pour chaque exercice résolu par l'étudiant : la date et l'heure de résolution (visibles par les visiteurs) et le nombre d'erreurs (visible par les administrateurs).</li>
<li>Pour chaque exercice tenté mais non-résolu par l'étudiant : la date et l'heure du dernier essai, la réponse donnée au dernier essai et le nombre d'erreurs (visibles par les administrateurs).</li>
</ul>

<h3>Problèmes et tests virtuels</h3>
Lorsqu'un étudiant soumet une solution à un problème, certaines données sont stockées sur le site :
<ul>
<li>Pour chaque soumission correcte à un problème : la date et l'heure de résolution (visibles par les visiteurs), et la date, l'heure, le contenu de chaque message relatif à cette soumission (visibles par les administrateurs et les étudiants ayant résolu le problème concerné).</li>
<li>Pour chaque soumission erronée (ou en attente) à un problème : la date, l'heure et le contenu de chaque message relatif à cette soumission (visibles par les administrateurs et les correcteurs ayant résolu le problème concerné).</li>
<li>Pour chaque problème appartenant à un test virtuel tenté par l'étudiant : en plus des données relatives aux soumissions détaillées ci-dessus, le score obtenu au problème (visible par les administrateurs).</li>
</ul>

<h3>Corrections</h3>
Lorsqu'un administrateur ou un correcteur corrige une solution, certaines données sont stockées sur le site :
<ul>
<li>Pour chaque correction d'une solution correcte : la date, l'heure et le contenu de chaque message relatif à cette correction (visibles par les administrateurs et les étudiants ayant résolu le problème concerné).</li>
<li>Pour chaque correction d'une solution erronée : la date, l'heure et le contenu de chaque message relatif à cette correction (visibles par les administrateurs, les correcteurs ayant résolu le problème concerné et l'étudiant ayant rédigé la solution).</li>
</ul>

<h3>Forum</h3>
Lorsqu'un étudiant ou un administrateur fréquente le forum, certaines données sont stockées sur le site :
<ul>
<li>Pour chaque message posté sur le forum : la date, l'heure et le contenu du message (visibles par les administrateurs et les étudiants).</li>
<li>Le nombre de sujets non-lus sur le forum (visible par les administrateurs).</li>
</ul>

<h3>Messages privés</h3>
Lorsqu'un étudiant ou un administrateur envoie un message privé à un autre utilisateur, certaines données sont stockées sur le site :
<ul>
<li>Pour chaque message envoyé : la date, l'heure et le contenu du message (visibles par les deux utilisateurs concernés et par les webmasters). (NB : Les webmasters peuvent techniquement avoir accès à ces données en passant par la base de données ; en pratique ils certifient qu'ils ne lisent pas les messages échangés.)
<li>Le nombre de messages non-lus (visible par les administrateurs).</li>
</ul>

<h3>Autres</h3>
Pour chaque étudiant et administrateur, d'autres données sont collectées pour le bon fonctionnement du site :
<ul>
<li>La date et l'heure d'inscription au site (visible par les visiteurs).</li>
<li>Si oui ou non l'adresse email a été confirmée par l'utilisateur (visible par les administrateurs).</li>
<li>La date de la dernière connexion au site (visible par les webmasters).</li>
<li>La date et l'heure à laquelle l'utilisateur a accepté la politique de confidentialité, s'il l'a acceptée (visible par les webmasters).</li>
<li>Pour un étudiant, le score total sur le site et le score dans chaque section (visibles par les visiteurs)</li>
<li>La liste des sujets du forum pour lesquels l'utilisateur désire recevoir un email à chaque nouveau message (visible par les administrateurs).</li>
<li> Si oui ou non l'utilisateur désire recevoir un email à chaque nouveau message privé (visible par les administrateurs).</li>
</ul>

<h2>Fichiers logs</h2>
Un <i>fichier log</i> est un fichier contenant la liste des différentes interactions qui se sont produites entre le serveur et les visiteurs pendant une journée complète. Ces fichiers permettent par exemple de comprendre un bug qui se produit sur le site, en analysant exactement ce qui s'est passé avant qu'il se produise. Chaque fichier log est supprimé automatiquement après un mois.

<h2>Backups</h2>
Chaque jour, un backup automatique de la base de données est effectué. Ces backups permettraient, en cas de problème majeur (par exemple si une personne malveillante parvenait à supprimer des données du site), de revenir à la situation telle qu'elle était au moment d'un backup. Nous gardons les backups pendant deux semaines, sauf ceux des derniers jours de chaque mois qui sont préservés pendant un an.

<h2>Cookies</h2>
Un <i>cookie</i> est un traceur placé sur l'ordinateur d'un visiteur et permettant notamment de le reconnaître quand il revient sur un site. Les cookies permettent par exemple de retenir l'identité de l'utilisateur connecté lorsqu'il navigue de page en page. Mathraining utilise uniquement :
<ul>
<li>des cookies strictement nécessaires à la navigation sur le site ;</li>
<li>des cookies utiles à la réalisation de statistiques de visites anonymes, via Google Analytics.</li>
</ul>
Il est possible de s'opposer à l'utilisation des cookies en paramétrant adéquatement son navigateur.

<h2>Hébergeur</h2>
Mathraining est hébergé en France :
<center>
OVH<br/>
2 rue Kellermann,<br/>
59100 Roubaix<br/>
France
</center>
