<% iciadmin = false %>
<% if current_user.sk.admin? && (@message.user.nil? || @message.user.admin?) %>
  <% iciadmin = true %>
<% end %>
  
<%= render 'shared/error_messages', object: f.object %>

<div class="form-group">
  <%= f.label :message, :disabled => current_user.other %>
  <div class="well" id="MathPreview"></div>
  <div class="well" id="MathBuffer" style="visibility:hidden; position:absolute; top:0; left: 0"></div>
  <%= render 'subjects/smiley', hiddentext: true %>
  <%= f.text_area :content, :class => "form-control", :style => "height:200px; margin-top:5px;", :id=>"MathInput", :onkeyup => "PreviewSafe.Update()", :disabled => current_user.other %>
</div>

