<script type="text/javascript">
var showAllDiscussions = function () {
  $.getScript("<%= show_all_discussions_url(id: @discussion) %>");
}
</script>

<div class="list-group mb-0">
  <h5>Nouveau message</h5>
  <%= link_to "Nouvelle discussion", new_discussion_path, :class => "list-group-item list-group-item-action #{"active" if @discussion.nil?}" %>

  <h5 class="mt-3">Discussions</h5>
  
  <div id="discussions-div" %>
    <%= render 'discussions/discussions', limit: 5, cur_discussion_id: (@discussion.nil? ? 0 : @discussion.id) %>
  </div>
  
  <!-- Espace en bas du menu, uniquement lorsqu'il se trouve à gauche -->
  <div class="d-none d-md-block mb-3"></div>
</div>
