$('#all-messages').append('<%= j render @tchatmessages %>');
<% if @tchatmessages.next_page %>
  $('.toreplace').html('<div style="display:none;"><%= j will_paginate @tchatmessages %></div>');
<% else %>
  $('.pagination').remove();
  $('.toreplace').remove();
<% end %>
MathJax.Hub.Typeset()
