<div class="information mb-3" id="information">
<div class="content grey-box">
<h4>Informations</h4>

<p>Un concours est une série de problèmes, chacun pouvant être résolu entre deux dates bien précises annoncées à l'avance.
Les participants au concours ont le temps, entre ces deux dates, d'écrire leur solution au problème.</p>

<p>Lorsqu'un problème ne peut plus recevoir de solution, les organisateurs du concours les corrigent toutes et leur attribuent un score entre 0 et 7. Ils publient ensuite les résultats du problème, et toutes les solutions correctes (c'est-à-dire avec un score de 7/7) sont alors accessibles par tous.</p>

<p>Les concours et leurs problèmes n'ont aucune influence sur les scores habituels du site.
Il est toutefois nécessaire d'avoir un minimum de 200 points pour être autorisé à participer à un concours (et il s'agit là de la seule restriction).</p>
</div>
</div>
