<% provide(:title, 'Modifier un concours') %>

<h1><%= title_contest(@contest, "Modifier") %></h1>

<%= form_for @contest do |f| %>
  <%= render 'form', f: f %>
  <%= f.submit "Modifier", class: "btn btn-lg btn-primary mb-3", :disabled => in_skin? %>
<% end %>
