<% provide(:title, 'Créer un concours') %>

<h1><%= title_2((link_to "Concours", contests_path), "Créer un concours") %></h1>

<%= form_for @contest do |f| %>
  <%= render 'form', f: f %>
  <%= f.submit "Créer", class: "btn btn-lg btn-primary", :disabled => current_user.other %>
<% end %>
