<% provide(:title, 'Créer un concours') %>

<h1><%= title_contests("Créer un concours") %></h1>

<%= form_for @contest do |f| %>
  <%= render 'form', f: f %>
  <%= f.submit "Créer", class: "btn btn-lg btn-primary mb-3", :disabled => in_skin? %>
<% end %>
