<script>allowhide = false</script> <!-- This disables the "[hide][/hide]" in previewsafe -->

<%= form_for @contestsolution, :html => { :multipart => true } do |f| %>

<%= render 'submissions/form', f: f %>

<%= render 'subjects/files', s: @contestsolution %>
<span id="spanFiles"></span>
<input type="button" value="Ajouter une pièce jointe" onclick="Joint.add()" />
<br/><br/>

<%= f.submit "Enregistrer", class: "btn btn-primary", style: "margin-bottom:5px;", :disabled => current_user.other %>
<button class="btn btn-default btn-grey" style="margin-bottom:5px;" onclick="return Rolling.hideActual();">Annuler</button>
<% end %>
