<% @ancientexte = session[:ancientexte] %>
<% session[:ancientexte] = nil %>

<%= form_for :contestsolution, url: contestproblem_contestsolutions_path(@contestproblem), :html => { :multipart => true } do |f| %>
  <h3>Votre solution</h3>
  <%= render 'submissions/form', f: f %>
  <%= render 'shared/edit_files' %>

  <%= f.submit "Enregistrer", class: "btn btn-primary mb-2", :disabled => current_user.other %>
  <p>(Vous pourrez modifier votre solution jusqu'à la date limite de résolution du problème.)</p>
<% end %>
