<div class="information" id="information">
<div class="content grey-box">
<h4>Informations</h4>

<p>Les problèmes du site, contrairement aux exercices, demandent des solutions rédigées rigoureusement. Ces solutions sont corrigées par une équipe de correcteurs bénévoles, dans des délais qui varient selon leurs disponibilités.</p>

<p>Un problème ne devient visible pour un utilisateur que lorsque ce dernier a complété les chapitres considérés comme nécessaires à sa bonne résolution. De manière générale, un minimum de 200 points est également requis pour avoir accès aux problèmes.</p>
</div>
</div>
