<p>L'attribution de niveau se fait selon la "règle" suivante (qui ne doit bien sûr pas être suivie à la lettre) :</p>
<ol>
  <li>Simple application : un seul argument pas trop caché.</li>
  <li>Problème plus subtil / multi-arguments.</li>
  <li>Niveau tournoi national / OMB.</li>
  <li>Niveau tournoi international / BxMO / Olympiades russes (pas trop dures) / OMI considéré fort simple (pour une OMI).</li>
  <li>Niveau OMI.</li>
</ol>
<br/>
