<p>L'attribution de niveau se fait selon la "règle" suivante (mais c'est laissé à l'appréciation de l'administrateur bien sûr) :</p>
<ol>
  <li>simple application : un seul argument pas trop caché</li>
  <li>problème plus subtil / multi-arguments</li>
  <li>niveau tournoi national / OMB</li>
  <li>niveau tournoi international / BxMO / Olympiades russes (pas trop dures) / OMI considéré fort simple (pour une OMI)</li>
  <li>niveau OMI</li>
</ol>
