<% provide(:title, 'Modifier un problème') %>
<h1>Modifier un problème</h1>

<div class="row">
  <div class="span12">
    <%= form_for(@problem) do |f| %>
      <%= render 'fields', f: f %>
      <br />
      <%= f.submit "Editer", class: "btn btn-large btn-primary" %>
    <% end %>
  </div>
</div>

<center><%= link_to 'Retour au chapitre', chapter_path(@problem.chapter, :type => 4, :which => @problem.id) %></center>

<script>
Preview.Init();
Preview.Update();
</script>
