<% provide(:title, 'Créer un problème') %>

<h1><%= title_3("Problèmes", (link_to @section.name, section_problems_path(@section)), "Créer un problème") %></h1>

<%= form_for(@problem, url: section_problems_path) do |f| %>
  <%= render 'form', f: f, problem: nil %>
  <%= f.submit "Créer", class: "btn btn-lg btn-primary" %>
<% end %>
