<% provide(:title, 'Créer un problème') %>
<h1>Créer un problème</h1>

<div class="row">
  <div class="span12">
    <%= form_for(@problem, url: chapter_problems_path) do |f| %>
      <%= render 'fields', f: f %>
      <br />
      <%= f.submit "Créer", class: "btn btn-large btn-primary" %>
    <% end %>
  </div>
</div>

<center><%= link_to 'Retour au chapitre', @chapter %></center>

<script>
Preview.Init();
Preview.Update();
</script>
