<% mois = ["janvier", "février", "mars", "avril", "mai", "juin", "juillet", "août", "septembre", "octobre", "novembre", "décembre"] %>

<% provide(:title, 'Correcteurs') %>
<h1>Correcteurs</h1>

<!-- On parcourt tous les correcteurs -->

<% correctors = [] %>

<% twoweeksago = Date.today - 14 %>

<% User.where("admin = ? OR corrector = ?", true, true).each do |c| %>

<% end %>
