<% if !defined?(show_placeholders) %>
  <% show_placeholders = false %>
<% end %>

<script>
var checkPasswordWarnings = function() {
  var password = document.getElementById("user_password").value;
  var password_confirmation = document.getElementById("user_password_confirmation").value;
  var info_strength = document.getElementById("info-password-strength");
  var info_confirmation = document.getElementById("info-password-confirmation");
  if (password.length == 0) {
    info_strength.style.display = "none";
    info_confirmation.style.display = "none";
    return;
  }
  if (password.length < 8 || !/[a-z]/.test(password) || !/[A-Z]/.test(password) || !/\d/.test(password)) {
    info_strength.style.display = "block";
    info_confirmation.style.display = "none";
    return;
  }
  if (password_confirmation.length > 0 && password_confirmation != password) {
    info_strength.style.display = "none";
    info_confirmation.style.display = "block";
    return;
  }
  info_strength.style.display = "none";
  info_confirmation.style.display = "none";
}
</script>

<!-- Mot de passe -->
<div class="mb-2">
  <%= f.label :password, :class => "form-label" %>
  <%= f.password_field :password, :class => "form-control", :style => "width:250px;", :disabled => (signed_in? && in_skin?), :placeholder => "#{'Laissez vide pour ne pas changer' if show_placeholders}", :oninput => "checkPasswordWarnings();" %>
</div>

<!-- Confirmation mot de passe -->
<div class="mb-2">
  <%= f.label :password_confirmation, :class => "form-label" %>
  <%= f.password_field :password_confirmation, :class => "form-control", :style => "width:250px;", :disabled => (signed_in? && in_skin?), :placeholder => "#{'Laissez vide pour ne pas changer' if show_placeholders}", :oninput => "checkPasswordWarnings();" %>
</div>

<div id="info-password-strength" class="alert alert-info mb-2" style="display:none;">
Votre mot de passe doit contenir au moins 8 caractères, dont une lettre minuscule, une lettre majuscule et un chiffre.
</div>

<div id="info-password-confirmation" class="alert alert-info mb-2" style="display:none;">
La confirmation du mot de passe ne concorde pas avec le mot de passe.
</div>

<script>checkPasswordWarnings();</script>
