<ul class="nav nav-tabs nav-justified flex-column flex-md-row mt-3 mb-3">
  <li class="nav-item"><%= link_to "Tous les utilisateurs", users_path, :class => "nav-link #{ 'active' if t == 1 }" %></li>
  <% if signed_in? %>
    <li class="nav-item"><%= link_to "Utilisateurs suivis", followed_users_path, :class => "nav-link #{ 'active' if t == 2 }" %></li>
  <% end %>
  <li class="nav-item"><%= link_to "Chercher un utilisateur", search_users_path, :class => "nav-link #{ 'active' if t == 3 }" %></li>
</ul>
