<% if !(defined? with_pagination) %>
  <% with_pagination = false %>
<% end %>

<table id="users_table" class="table table-bordered" style="max-width:800px;">
  <tr class="table-ld-header">
    <th style="width:20px;"></th>
    <th style="width:230px;">Nom</th>
    <th class="text-center" style="width:50px;">Pays</th>
    <th class="text-center" style="width:90px;">Score</th>
    <% @allsec.each do |s| %>
      <th class="d-none d-md-table-cell" style="width:60px;"><center><%= s.initials %></center></th>
    <% end %>
    <th class="d-none d-lg-table-cell" style="width:100px;"><center>&le; 2 sem.</center></th>
  </tr>

  <% local_id = 0 %>
  <% previous_rank = 0 %>
  <!-- Warning: @all_users cannot be directly used because users with global rank 1 are reordered in the controller! -->
  <% @all_users.each do |u| %>
    <%= render "line", global_rank: @x_globalrank[local_id], previous_rank: previous_rank, recent: @x_recent[local_id], persection: @x_persection[local_id], rating: @x_rating[local_id], country: @x_country[local_id], linked_name: @x_linked_name[local_id], line_id: local_id+1 %>
    <% previous_rank = @x_globalrank[local_id] %>
    <% local_id = local_id + 1 %>
  <% end %> 
</table>

<%= render 'shared/pages', data: @all_users, classes_small: "mb-3" %>
