<% provide(:title, "Actualisez votre profil") %>
<h1>Actualisez votre profil</h1>

<%= form_for(@user) do |f| %>
  <%= render 'form', f: f, modif: true %>
  <%= f.submit "Mettre à jour", class: "btn btn-lg btn-primary", :disabled => current_user.other %>
<% end %>
