<% provide(:title, "Actualisez votre profil") %>
<h1>Actualisez votre profil</h1>
Vous devez à nouveau rentrer votre mot de passe (éventuellement un nouveau si vous désirez en changer) pour modifier vos données.<br/><br/>
<div class="row">
  <div class="span6">
    <%= form_for(@user) do |f| %>
      <%= render 'form_edit', f: f %>
      <br />
      <%= f.submit "Mettre à jour", class: "btn btn-large btn-primary", :disabled => current_user.other %>
    <% end %>
  </div>
</div>
