<% provide(:title, 'Scores') %>

<!-- Pays (pour les drapeaux) -->

<% @allcountries = Array.new %>
<% Country.all.each do |c| %>
  <% @allcountries[c.id] = [c.name, c.code] %>
<% end %>

<h1><%= title_1("Scores") %></h1>

<!-- Tabs -->
<%= render "tabs", t: 2 %>

<center>
<p>Vous pouvez suivre d'autres utilisateurs en vous rendant sur leur profil.</p>
<% if @all_users.size == 0 %>
  <p>Aucun utilisateur suivi.</p>
<% else %>
  <%= render "users_table" %>
<% end %>
</center>
