<% provide(:title, "Mot de passe oublié") %>
<h1>Mot de passe oublié</h1>

Vous avez oublié votre mot de passe? Rentrez votre adresse mail et vous recevrez un lien vous permettant de changer de mot de passe.<br/><br/>

<center>
<%= form_for(:user, url:password_forgotten_path, :html => { :class => "form-horizontal"}) do |f| %>
  <div class="form-inline">
    <%= f.email_field :email, :placeholder => "Email", :class => "form-control" %>
    <%= f.submit "Changer de mot de passe", class: "btn btn-primary" %>
  </div>
<% end %>
</center>
