<% provide(:title, "Nouvelles réponses") %>

<h1><%= title_1("Nouvelles réponses") %></h1>

<table class="table table-bordered" style="width:auto;">
<%= render 'submissions/line_header', hide_user: true %>
<% @notified_submissions.each do |s| %>
  <%= render 'submissions/line', s: s, hide_user: true %>
<% end %>
</table>
