<% if !defined?(postfix) %>
  <% postfix = "" %>
<% end %>

<div class="card text-bg-ld-light-dark" id="MathContainer<%= postfix %>">
  <div class="card-body" id="MathPreview<%= postfix %>"></div>
</div>
