<% if !defined?(postfix) %>
  <% postfix = "" %>
<% end %>

<div class="card text-bg-ld-light-dark">
  <div class="card-body" id="MathPreview<%= postfix %>"></div>
  <div class="card-body hidden-latex" id="MathBuffer<%= postfix %>"></div>
</div>
