<div class="grid mt-3 mb-3 mx-0" style="--bs-columns: 12;">
  <% taken = [false, false, false, false, false, false, false, false, false, false, false] %>
  <% f = -1 %>
  <% (0..11).each do |i| %>
    <% a = (i == 11 ? f : rand(11)) %>
    <% if i < 11 %>
      <% while taken[a] %>
        <% a = (a+1)%11 %>
      <% end %>
    <% end %>
    <% f = a if i == 0 %>
    <% taken[a] = true %>
    <% cl = "" %>
    <% if i >= 6 %>
      <% cl = "d-none d-xl-block" %>
    <% elsif i >= 4 %>
      <% cl = "d-none d-md-block" %>
    <% end %>
    <div class="g-col-3 g-col-md-2 g-col-xl-1 text-center <%= cl %>">
      <%= image_tag "sauce#{a+1}.png", :style => "width:80%;" %>
    </div>
  <% end %>
</div>
