<h1>Actualités <%= link_to image_tag("rss.png", alt: 'rss'), feed_path %></h1>
<% if current_user.admin? %>
  <% actualities = Actuality.order("created_at DESC").paginate(:page => params[:page], :per_page => 5) %>
<% else %>
  <% actualities = Actuality.where(:tostudents => true).order("created_at DESC").paginate(:page => params[:page], :per_page => 5) %>
<% end %>

<% actualities.each do |a| %>
  <%= render 'actualities/show', f: a %>
<% end %>

<center><%= will_paginate actualities %></center>

<% if current_user.admin? %>
<br/>
<center><%= link_to "Ajouter une actualité", new_actuality_path %></center>
<% end %>	


