<h1>Accueil</h1>
Si vous n'êtes pas tombé ici par hasard, c'est que nous avons besoin de vous!<br/>
Afin que vous compreniez ce pour quoi nous faisons appel à vous, voici tout ce que vous devez savoir à propos de ce site.
<hr>
<h2>1. Naissance et philosophie</h2>
C'est dans la nuit du 23 au 24 février 2013 que l'idée d'un tel site d'entraînement a été émise. Cela faisait bien longtemps que Philippe (Niederkorn) songeait à diverses manières de remotiver les étudiants de Wépion mais n'avait pas le temps de s'y pencher réellement. C'est pourquoi, avec son soutien, nous avons voulu élaborer un site internet ayant pour but de réunir tout ce qui pourrait être utile à de futurs participants aux IMO. Réunir des points théoriques, c'est une chose, mais les rendre attrayants en était une autre...<br/>
Après être passés par les idées les plus saugrenues, nous pensons avoir trouvé un bon compromis qui, nous l'espérons, pourrait rendre ludique cet entraînement.
<hr>
<h2>2. Principe de base</h2>
Pour être attrayant, il nous fallait créer un site interactif, où l'élève verrait son évolution au cours du temps et pourrait se comparer aux autres utilisateurs. Pour ce faire, nous avons décidé de partitionner le site en <i>chapitres</i>. Chaque chapitre en aurait d'autres pour prérequis, et ne pourrait être visible par l'étudiant qu'une fois ses prérequis "terminés". Pour définir ce que nous entendons par "terminer", il nous faut expliquer la structure d'un tel chapitre.
<hr>
<h2>3. Structure d'un chapitre</h2>
Chaque chapitre contient trois grandes parties.
<h3>3.1. Points théoriques</h3>
Le but étant avant tout d'apprendre de nouvelles choses aux utilisateurs, il est nécessaire d'incorporer à chaque chapitre la théorie s'y rapportant. Nous voulons être le plus pédagogique possible pour que chaque étudiant puisse comprendre ce qu'il lit à sa première ou deuxième lecture. Notre but n'est pas d'éliminer les neuf dixièmes des élèves dès la première ligne!
<h3>3.2. Exercices</h3>
C'est en résolvant les exercices du chapitre qu'un élève pourra le "terminer" et ainsi débloquer les chapitres suivants. Ceux-ci devant être corrigés automatiquement, ils peuvent prendre deux formes :
<ul>
<li>Un exercice dont la réponse est numérique (entière ou décimale).</li>
<li>Un QCM avec éventuellement plusieurs réponses possibles.</li>
</ul>
Les exercices ont pour but de vérifier la bonne compréhension du chapitre et non de repérer un étudiant à grandes capacités. Ils devront donc être faisables par quelqu'un ayant lu les points théoriques en détails, et ce sans une réflexion de plusieurs heures.
<h3>3.3. Problèmes</h3>
Nous le savons tous, les mathématiques ne se résument pas à des exercices numériques et QCM, surtout en ce qui concerne les IMO. Chaque chapitre comportera donc une série de problèmes de différents niveaux. Ceux-ci seront optionnels, en ce sens qu'il n'est pas nécessaire de les résoudre pour avoir accès aux chapitres suivants.<br/>
N'ayant pas encore les capacités de faire reconnaître à un ordinateur une solution correcte d'une solution fausse, l'étudiant proposera donc une solution qui sera examinée (le plus rapidement possible) par un administrateur. Celui-ci jugera alors si la solution est correcte ou non, et laissera un commentaire afin d'aiguiller l'étudiant si nécessaire. Si la solution se révèle erronée, l'étudiant peut toujours tenter de la corriger ou d'en soumettre une nouvelle, jusqu'à ce que sa réponse soit finalement jugée correcte par un administrateur.
<hr>
<h2>4. Type de chapitres</h2>
<h3>4.1. Chapitres fondamentaux</h3>
Afin de remettre à niveau les élèves les plus jeunes ne disposant pas toujours de tous les prérequis nécessaires à la bonne compréhension d'un chapitre de niveau Wépion, nous envisageons de créer des chapitres dit <i>fondamentaux</i>. Ceux-ci seront directement accessibles par tous, et ne bloqueront pas l'accès à des chapitres plus difficiles. Par exemple, une idée serait un chapitre expliquant les notations mathématiques fondamentales, comme ce que signifient $\mathbb{N}$, $\displaystyle\sum_{i=1}^n \frac{1}{i}$,... (J'en profite pour faire remarquer que tout le site supporte le $\LaTeX$!)
<h3>4.2. Chapitres non-fondamentaux</h3>
Ceux-ci, au contraire, seront obligatoires pour pouvoir débloquer les chapitres suivants. Ils appartiendront à une ou plusieurs sections de {Combinatoire, Géométrie, Théorie des nombres, Algèbre}. Nous sommes conscients que tous les chapitres ne sont pas classables trivialement dans une de ces sections, mais nous pensons que cela reste possible malgré tout. Dans l'optique d'une préparation aux IMO dont les quatre sections sont celles précédemment citées, il ne nous semble pas motivant pour un élève d'introduire une section "Autres" qui serait aux yeux des étudiants synonyme de "Inutile pour les IMO".
<hr>
<h2>5. Système de cotation</h2>
Comme mentionné plus haut, il nous faut motiver les étudiants. Pour ce faire, chaque exercice et chaque problème rapporte un certain nombre de points selon une graduation (pour le moment provisoire et pouvant être changée si celle-ci se révèle inappropriée). Les élèves pourront voir, sur leur profil, leur évolution au fil des jours et leur niveau évoluer de manière colorée et ludique. Ils pourront également comparer leur progression à celle des autres et essayer de les concurrencer.
<hr>
<h2>6. Nous avons besoin de vous</h2>
Nous aimerions que vous deveniez administrateurs à nos côtés. Ceci vous donnera les deux rôles suivants. Si vous pensez comme nous que ce site a de l'avenir et voulez nous aidez (même pour un seul des deux rôles), <u>contactez-nous</u> par mail (en répondant à celui qui vous a conduit ici).
<h3>6.1. Création des chapitres</h3>
Nous n'avons pas la prétention de maîtriser toute la théorie que ce site contiendra. Pour cette raison, et parce que tout ira bien plus vite à plusieurs, nous aimerions que vous preniez en charge la rédaction d'un ou plusieurs chapitres, la création d'exercices s'y rapportant, et la recherche de problèmes appropriés. Il faudra évidemment d'abord se mettre d'accord sur la structure complète du site et sur les chapitres que nous désirons créer.<br/> Vous n'avez pas encore accès à la partie administrateur de ce site, mais tout est fait en sorte de vous faciliter la vie. On ne vous demandera évidemment pas de faire de la programmation, tout sera faisable directement sur ce site. Il vous sera possible de rajouter des images si nécessaires (surtout pour la géométrie), de rajouter des liens, des sous-titres, et surtout du $\LaTeX$ de manière très simple.
<h3>6.2. Correction des soumissions</h3>
Une fois ce site mis en ligne, des élèves tenteront de répondre aux problèmes suggérés. Comme expliqué plus haut, nous avons besoin de personnes compétentes pour juger de si une solution est correcte ou non. Cela ressemblera un peu à l'ancien système de coaching, sauf que vous n'aiderez pas un élève en particulier.
<hr>
<h2>7. Découvrez la structure du site</h2>
Ce site est pour le moment hébergé gratuitement et n'a pas une capacité suffisante (5 Mo de base de données, ca risque d'être un peu juste :-)). Vous avez d'ailleurs sûrement dû attendre un temps non-négligeable pour charger la première page de ce site à votre venue. Avant de passer à un hébergement plus sérieux, de vous faire devenir administrateur si vous le désirez et de commencer à introduire de vrais chapitres, nous voulons vous faire comprendre sa structure en l'explorant du point de vue utilisateur.<br/>
Pour ce faire, nous avons inséré des faux utilisateurs et des chapitres tests. Ne soyez pas effrayés devant la non-utilité de ceux-ci, ils sont juste là pour que vous puissiez observez sans peine ce qu'un étudiant verra. En particulier, vous pouvez trouver :
<ul>
<li>Un <%= link_to "chapitre", chapter_path(1), :target => "_blank" %> fait <i>un peu</i> sérieusement (avec trop peu d'exercices et problèmes ceci dit). Il y a sûrement des erreurs vu qu'on l'a fait en quelques heures, ne nous lyncher pas.</li>
<li>Une <%= link_to "section", section_path(1), :target => "_blank" %> avec plusieurs chapitres contenant uniquement un exercice. Ceux-ci sont reliés grâce au système de prérequis, et vous pouvez observez comment un chapitre peut en débloquer d'autres (en réussissant (cela ne devrait pas être trop dûr) l'exercice du chapitre en question).
<li>Un <%= link_to "utilisateur", user_path(3), :target => "_blank" %> ayant résolu quelques exercices. Vous pouvez également observer votre évolution <%= link_to "ici", user_path(current_user), :target => "blank" %>.
</ul>
 N'hésitez pas à explorer les autres recoins du site, et à nous tenir informés si vous repérer un bug ou une faille. Le plus pratique pour nous serait que vous le signaliez <a href="https://github.com/blegat/ombtraining/issues?labels=bug&page=1&state=open" target="_blank">ici</a> mais vous devez pour cela vous inscrire sur Github. Cela n'est pas très contraignant mais vous pouvez toujours nous signaler les bugs par mail si vous le désirez.<br/>
 Vous pouvez également nous faire part de vos impressions, commentaires, et idées d'améliorations.
<hr>
En espérant avoir de vos nouvelles rapidement et vous voir enthousiastes,<br/><br/>

<center><span style="font-family:Tahoma; font-size:20px; margin-right:10px;">Benoît Legat</span> et <span style="font-family:Tahoma; font-size:20px; margin-left:10px;">Nicolas Radu</span></center>


