<div class="information" id="information">
<div class="content">
<h3>Informations</h3>
Chaque chapitre est constitué de points théoriques et d'exercices. Ces derniers ont pour but de vérifier que la théorie a bien été assimilée. Ils rapportent chacun entre 3 et 12 points, selon leur difficulté. Pour <i>compléter</i> un chapitre, il faut résoudre tous ses exercices.<br/><br/>
Certains chapitres ont d'autres chapitres pour prérequis. Pour accéder aux exercices d'un tel chapitre, il est nécessaire de d'abord compléter ses chapitres prérequis.
</div>
</div>
