<% j = 1 %>
<% k = 1 %>

<% nb_questions = 0 %>

<% check_if_chapter_solved = chapter.online? && signed_in? && !current_user.admin? && can_see_questions && !chapter_solved %>
<% all_questions_solved = true %>

<% if !@questions_by_chapter[chapter.id].nil? %>
  <% @questions_by_chapter[chapter.id].each do |q| %>
    <% if (q.online || (signed_in? && (current_user.admin? || @chapter_status[chapter.id] == "creator"))) %>
      <% nb_questions += 1 %>
      <% if k % 8 == 1 && k > 1 %>
        </div>
        <br/>
        <div class="btn-group mt-1">
      <% elsif k == 1 %>
        <center>
        <div class="btn-group mt-1">
      <% end %>
      <% if can_see_questions %>
        <% classe = "" %>  
        <% if !signed_in? %>
          <% classe = "btn btn-ld-light-dark" %>  
        <% elsif !q.online? %>
          <% classe = "btn btn-warning" %>
        <% elsif current_user.admin? %>
          <% classe = "btn btn-ld-light-dark" %>
        <% elsif @question_status[q.id] == "correct" %>
          <% classe = "btn btn-success" %>
        <% elsif @question_status[q.id] == "incorrect" %>
          <% classe = "btn btn-danger" %>
        <% else %>
          <% classe = "btn btn-ld-light-dark" %>
        <% end %>
        
        <%= link_to "#{j if q.online}#{'!' if !q.online}", chapter_question_path(chapter, q), :class => classe %>
      <% else %>
        <button class="btn btn-ld-light-dark disabled" id="disabled-question-<%= q.id %>"><%= j %></button>
      <% end %>
      <% j = j+1 if q.online %>
      <% k = k+1 %>
      
      <% if check_if_chapter_solved && all_questions_solved && q.online? && @question_status[q.id] != "correct" %>
        <% all_questions_solved = false %>
      <% end %>
    <% end %>
  <% end %>
<% end %>

<% if nb_questions == 0 %>
  <p class="text-center fst-italic">Aucun exercice.</p>
<% else %>
  </div>
  </center>
<% end %>

<% if check_if_chapter_solved && all_questions_solved %>
  <!-- Il est déjà arrivé qu'un chapitre ne soit pas marqué comme résolu au moment de résoudre la dernière question... -->
  <% current_user.chapters << chapter %>
<% end %>
