<% provide(:title, "Modifier une section") %>
<h1>Modifier une section</h1>

<div class="row">
  <div class="span12">
    <%= form_for(@section) do |f| %>
      <%= render 'fields', f: f %>
      <br />
      <%= f.submit "Editer", class: "btn btn-large btn-primary" %>
    <% end %>
  </div>
</div>

<%= link_to 'Retour', sections_path %>

<script>
Preview.Init();
Preview.Update();
</script>
