<% provide(:title, 'Cours') %>
<h1>Cours</h1>

<center>
  <% if current_user.sk.admin? %>
    <br/>
    <table>
    <tr>
    <td style="padding-right:10px;">
    <%= button_to "Ajouter un chapitre", new_chapter_path, method: :get,
      class: 'btn btn-large' %>
      </td>
      <td style="padding-left:10px;">
    <%= button_to "Modifier la structure des sections", graph_prerequisites_path, method: :get,
      class: 'btn btn-large' %>
      </td></tr>
      </table>
  <% end %>
</center>

Les cours sont séparés dans cinq grandes sections.

La première contient tous les fondements mathématiques nécessaires à la bonne compréhension des quatre suivantes.
Elle est principalement destinée aux étudiants les plus jeunes, mais peut également servir de rappel aux étudiants plus avancés dans leur cursus scolaire.

<center>
  <br/>
  <div style="width:600px;">
    <%= link_to image_tag("fondations.jpg", alt: "Fondations"), "sections/0" %>
  </div>

</center>
<br/>

Les quatre sections suivantes sont les quatre sujets phares des Olympiades Mathématiques Internationales.
Chaque année, six problèmes y sont proposés aux élèves, et il y en a typiquement au moins un de chaque section.
Cependant, les problèmes se diversifient au fil des années et il arrive qu'un exercice n'appartienne pas entièrement à l'une de ces catégories.
C'est pourquoi ce site comportera certains chapitres hybrides, présents dans plus d'une section.

<center>

  <% @sections.each do |f| %>
    <br/>
    <div style="width:600px;">
      <%= link_to image_tag(f.image, alt: f.name), f %>
    </div>
  <% end %>

</center>
