<% provide(:title, 'Créer une section') %>
<h1>Créer une section</h1>

<div class="row">
  <div class="span6">
    <%= form_for(@section) do |f| %>
      <%= render 'fields', f: f %>
      <br />
      <%= f.submit "Créer", class: "btn btn-large btn-primary" %>
    <% end %>
  </div>
</div>

<%= link_to 'Retour', sections_path %>
