<% provide(:title, @section.name) %>

<h1>
  <%= @section.name %>
</h1>
<p>
  <%= @section.description %>
</p>

<% if current_user.admin? %>
<%= link_to 'Editer', edit_section_path(@section) %> |
<% end %>
<%= link_to 'Retour', sections_path %>
