<h1><%= title_1("Actualités") %></h1>

<% @actualities.each do |a| %>
  <%= render 'actualities/show', actuality: a %>
<% end %>

<%= render 'shared/pages', data: @actualities %>

<!-- Ajouter une actualité -->
<% if signed_in? && current_user.admin? %>
  <p class="text-center">
    <%= link_to "Ajouter une actualité", new_actuality_path %>
  </p>
<% end %>	
