<h1><%= title_1("Actualités") %></h1>

<% @actualities.each do |a| %>
  <%= render 'actualities/show', actuality: a %>
<% end %>

<%= render 'shared/pages', data: @actualities, classes_small: "mb-3" %>

<!-- Ajouter une actualité -->
<% if signed_in? && current_user.admin? %>
<center><%= button_to "Ajouter une actualité", new_actuality_path, :class => "btn btn-lg btn-ld-light-dark", :method => "get" %></center>
<% end %>	
