
  <table class="table table-bordered">
  <tr class="info">
  <td style="font-size:26px; font-weight:bold; padding:15px;"><%= f.title %> </td></tr>
  <tr><td style="padding:15px;">
  <div>
  <%= raw(f.content.gsub(/<hr>[ \r]*\n/,'<hr>').gsub(/\\][ \r]*\n/,'\] ').gsub(/\$\$[ \r]*\n/,'$$ ').gsub(/<\/h2>[ \r]*\n/,'</h2>').gsub(/<\/h3>[ \r]*\n/,'</h3>').gsub(/<\/h4>[ \r]*\n/,'</h4>').gsub(/<\/ol>[ \r]*\n/, '</ol>').gsub(/\n[ \r]*<\/ol>/, '</ol>').gsub(/<\/ul>[ \r]*\n/, '</ul>').gsub(/\n[ \r]*<\/ul>/, '</ul>').gsub(/\n[ \r]*<li>/, '<li>').gsub(/\n/, '<br/>')) %>	
  </div>
  </td></tr>

  <% if current_user.admin? %>
    <tr><td>
    <center>
      <%= link_to "Modifier cette actualité", edit_actuality_path(f) %> | 
      <%= link_to "Supprimer cette actualité", f, method: :delete, data: { confirm: "Etes-vous sûr de vouloir supprimer cette actualité?" } %>
    </center>
    </td></tr>
  <% end %>
  </table>

