<% provide(:title, 'Modifier une actualité') %>

<h1>
  <span class="title-first"><%= link_to "Actualités", root_path %> ></span>
  Modifier une actualité
</h1>

<%= form_for(@actuality) do |f| %>
  <%= render 'form', f: f %>
  <%= f.submit "Éditer", class: "btn btn-lg btn-primary" %>
<% end %>
