<% provide(:title, 'Modifier une actualité') %>
<h1>Modifier une actualité</h1>

  <div class="span12">    
    <%= form_for(@actuality) do |f| %>
      <%= render 'form', f: f %>
      <br />
      <%= f.submit "Editer", class: "btn btn-large btn-primary" %>
    <% end %>
  </div>
<br/>
<center><%= link_to "Retour à l'accueil", root_path %></center>

<script>
Preview.Init();
Preview.Update();
</script>
