<% provide(:title, 'Ajouter une actualité') %>

<h1>
  <span class="title-first"><%= link_to "Actualités", root_path %> ></span>
  Ajouter une actualité
</h1>

<%= form_for(@actuality) do |f| %>
  <%= render 'form', f: f %>
  <%= f.submit "Créer", class: "btn btn-primary btn-lg" %>
<% end %>

<script>
Preview.Init();
Preview.Update();
</script>
