<%= render 'shared/error_messages', object: f.object %>

<%= f.label "Enoncé" %>
<%= f.text_area :statement, :class => "span6", :style => "height:150px;" %>

<label class="checkbox">
Cochez si plusieurs réponses sont possibles
<%= f.check_box(:many_answers) %>
</label>
