<% can_edit = (contestsolution.official? || @contestproblem.in_correction? || @contestproblem.in_recorrection?) && @contest.is_organized_by(current_user) %>

<div id="the" class="content-part">
  <% if !contestsolution.official? %>
    <h4>Score obtenu</h4>
    <div class="bg-as-table-ld-warning mb-3 p-1 border border-warning text-center fs-3">
      <%= contestsolution.score if contestsolution.score >= 0 %><%= '-' if contestsolution.score < 0 %> / 7
    </div>
  <% end %>
  <%= render 'shared/post', ms: contestcorrection, kind: "contestcorrection", can_edit: can_edit %>
</div>

<% if can_edit %>  
  <div id="form" class="form-part px-1" style="height:0px;">
  <%= render 'contestcorrections/edit', contestsolution: contestsolution, contestcorrection: contestcorrection %>
  </div>
  
  <% if contestcorrection.errors.any? %>
    <script>rollingDevelopQuickWhenPossible("")</script>
  <% end %>
<% end %>
