<% if !defined?(mb_class) %>
  <% mb_class = "" %>
<% end %>

<ul class="<%= mb_class %>">
<% Chapter.where(:online => true, :submission_prerequisite => true).order(:position).each do |c| %>
  <li><%= link_to c.name, c %> <%= image_tag v_icon, :class => "ms-2 svg-black-white", :style => "margin-top:-3px;" if current_user.chap_solved?(c) %></li>
<% end %>
</ul>
