La façon la plus simple et la plus jolie de nous faire parvenir votre solution est de l'écrire en $\LaTeX$. <br/><%= link_to "Ce chapitre", chapter_path(13), target: "blank" %> vous apprend à écrire toutes les formules mathématiques dont vous avez besoin en un rien de temps !<br/><br/>
  <div class="form-group">
  <div class="well" id="MathPreview"></div>
  <div class="well hidden-preview" id="MathBuffer"></div>
  <%= render 'subjects/smiley', hiddentext: false %>
  <% if @ancientexte.nil? %>
    <%= f.text_area :content, :class => "form-control", :maxlength => "8000", :style => "height:200px; margin-top:5px;", :id=>"MathInput", :onkeyup => "PreviewSafe.MyUpdate()", :disabled => (!@signed_in || current_user.other) %>
  <% else %>
    <%= f.text_area :content, :class => "form-control", :maxlength => "8000", :style => "height:200px; margin-top:5px;", :value => @ancientexte, :id=>"MathInput", :onkeyup => "PreviewSafe.MyUpdate()", :disabled => (!@signed_in || current_user.other) %>
  <% end %>
  </div>
