<%= form_for @submission, url: problem_create_intest_path(@problem), :html => { :multipart => true } do |f| %>

  <%= render 'submissions/form', f: f %>
  <%= render 'shared/edit_files' %>

  <%= f.submit "Enregistrer cette solution", class: "btn btn-primary mb-2", :disabled => current_user.other %>
  <button class="btn btn-ld-light-dark mb-2" onclick="return Rolling.hideActual();">Annuler</button>
  
  <p>(Vous pourrez modifier cette solution tant que vous le voudrez dans le temps imparti.)</p>
  
<% end %>
