<script src="/assets/previewsafe.js"></script>

<SCRIPT language="javascript">
var i = 1;
function add() {
 
    //Create an input type dynamically.
    var element = document.createElement("input");
 
    //Assign different attributes to the element.
    element.setAttribute("type", "file");
    element.setAttribute("name", "file"+i);
 
 
    var foo = document.getElementById("fooBar");
    var p = document.createElement("br");
    
    i = i+1;
 
    //Append the element in page (in span).
    foo.appendChild(element);
    foo.appendChild(p);
}
</SCRIPT>

<%= form_for :submission,
  url: problem_submissions_path(problem), :html => { :multipart => true } do |f| %>

  <br/><h4>Nouvelle soumission</h4>
  <div class="well" id="MathPreview"></div>
  <div class="well" id="MathBuffer" style="visibility:hidden; position:absolute; top:0; left: 0"></div>
  <%= f.text_area :content, :class => "span10", :style => "height:200px; margin-top:5px;", :id=>"MathInput", :onkeyup => "Preview.Update()" %>
  <br />
  <span id="fooBar"></span>
  <br/>
  <input type="button" value="Ajouter une pièce jointe" onclick="add()"/>
  <br /><br/>
  
  <%= f.submit "Soumettre solution", class: "btn btn-large btn-primary" %>
<% end %>

<script>
Preview.Init();
Preview.Update();
</script>
