<% if !defined?(show_cancel_button) %>
  <% show_cancel_button = false %>
<% end %>

<% if !defined?(form_disabled) %>
  <% form_disabled = false %>
<% end %>

<%= form_for @submission, url: problem_submissions_path(@problem), :html => { :multipart => true, :class => "mb-2" } do |f| %>
  <%= render 'submissions/form', f: f, form_disabled: form_disabled %>
  <%= render 'shared/edit_files' %>

  <%= f.submit "Enregistrer cette solution", class: "btn btn-primary mb-1", :disabled => in_skin? || form_disabled %>
  <% if show_cancel_button %>
    <button class="btn btn-ld-light-dark mb-1" onclick="return Rolling.hideActual();">Annuler</button>
  <% end %>
<% end %>
