<script type="text/javascript">
  var showForm = function () {
    document.getElementById("btn_search_string").style.display = 'none';
    document.getElementById("search_string_form").style.display = 'block';
  }

  var showSearch = function() {
    document.getElementById("loading_results").style.display = 'inline';
    document.getElementById("none_results").style.display = 'none';
    document.getElementById("tab_results").style.display = 'none';
  }
</script>

<h3>Chercher une chaîne de caractères</h3>
<%= link_to "Effectuer une recherche dans toutes les soumissions", "javascript:showForm()", id: "btn_search_string" %>
<form id="search_string_form" style="display:none;" method="post" data-remote="true" action="/submissions/<%= @submission.id %>/search_script">
<div class="form-group">
  <input class="form-control" style="widht:200px;", type="text", name="string_to_search" id="string_to_search" />
</div>
<div class="checkbox">
<label style="margin-bottom:5px;" for="search_in_comments">
  <input type="checkbox" value="1" name="search_in_comments" id="search_in_comments" />
  Chercher également dans les commentaires.
</label></div>
<input type="submit" name="commit" value="Chercher" class="btn btn-primary" onclick="javascript:showSearch()" />
</form>

<p id="loading_results" style="display:none;"><br/>Recherche...</p>
<p id="none_results" style="display:none;"><br/>Aucun résultat.</p>

<table class="table table-bordered tex2jax_ignore" style="width:auto; display:none; margin-top:20px;" id="tab_results">
  <thead class="fixed">
  <tr><th style="width:250px;">Date</th><th style="width:200px;">Qui</th><th style="width:300px;">Prévisualisation</th><th style="width:70px;"></th></tr>
  </thead>
  <tbody class="scroll">
    <!-- This body is filled via javascript, when submitting the form, see search_script.js.erb -->
  </tbody>
</table>
