<!-- Couleur -->
<% if s.status == 0 %>
  <tr class="warning">
<% elsif s.status == 2 %>
  <tr class="success">
<% elsif s.status == 1 %>
  <tr class="danger">
<% else %>
  <% if current_user.sk.admin? %>
  <tr class="info">
  <% else %>
  <tr class="danger">
  <% end %>
<% end %>

<!-- Icone -->
<td style="width:70px; text-align:center;">
<%= image_tag s.icon %>
</td>

<!-- Date de la soumission -->
<td style="width:250px;">
<%= Message.write_date(s.created_at.in_time_zone) %>
<% if s.intest && current_user.sk.admin? %>
- <b> TEST</b>
<% end %>
</td>

<!-- Dernière activité -->
<td class="hidden-xs hidden-sm" style="width:250px;">
<%= Message.write_date(s.lastcomment.in_time_zone) %>
</td>

<!-- Voir -->
<td style="text-align:center; width:56px;">
<%= link_to "Voir", problem_path(s.problem, :sub => s.id) %>
</td>

</tr>
