<% provide(:title, 'Soumission') %>
<h1>Problème <%= @problem.name %></h1>

<h2>Solution</h2>
<p><%= @submission.content %></p>

<h2>Réponses</h2>
<%= render 'corrections/index' %>
<%= render 'corrections/new' %>
