@import "bootstrap";
@import "bootstrap-responsive";

/* universal */

html {
  overflow-y: scroll;
}

body {
  padding-top: 60px;
}

/* footer */

$grayMediumLight: #eaeaea;
footer {
	margin-top: 45px;
	padding-top: 5px;
	border-top: 1px solid $grayMediumLight;
	color: $grayLight;
	a {
		color: $gray;

		&:hover {
			color: $grayDarker;
		}
	}

	small {
		float: left;
	}

	ul {
		float: right;
		list-style: none;

		li {
			float: left;
			margin-left: 10px;
		}
	}
}

/* miscellaneous */

@mixin box_sizing {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

.debug_dump {
	clear: both;
	float: left;
	width: 100%;
	margin-top: 45px;
	@include box_sizing;
}

