/* universal */

html {
  overflow-y: scroll;
  background-color:black!important;
  color:yellow!important;
}

body {
  padding-top: 50px;
  background-color:black!important;
  color:yellow!important;
}

div, table, tr, td, th, .list-group-item, .dropdown-menu {
  background-color:black!important;
  color:yellow!important;
}

.btn, textarea, input, select {
  background-color:yellow!important;
  color:red!important;
}

a {
  color:red!important;
}

/* miscellaneous */

@mixin box_sizing {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

.debug_dump {
	clear: both;
	float: left;
	width: 100%;
	margin-top: 45px;
	@include box_sizing;
}
