<div class="information" id="information" style="margin-bottom:15px;">
<div class="content">
<h3>Informations</h3>
Les tests virtuels ont pour but de simuler des compétitions et tests qui ont lieu dans le cadre de diverses olympiades. Chaque test a une durée limitée et contient un nombre précis de problèmes. Les solutions écrites pendant un test sont corrigées comme celles des problèmes habituels, si ce n'est qu'une note sur 7 est également attribuée à chaque solution. Cette note est donnée à titre informatif et n'est pas visible par les autres utilisateurs.<br/><br/>
Une fois qu'un test virtuel est terminé, tous ses problèmes sont transférés dans leur section respective et peuvent être résolus comme les autres problèmes du site. Les points associés à un problème peuvent donc être obtenus même après le test, qui donne simplement une occasion de s'entraîner à écrire des solutions en un temps limité.
</div>
</div>
