<div class="information mb-3" id="information">
<div class="content grey-box">
<h4>Informations</h4>

<p>Les tests virtuels ont pour but de simuler des compétitions et tests qui ont lieu dans le cadre de diverses olympiades. Chaque test a une durée limitée et contient un nombre précis de problèmes. Les solutions écrites pendant un test sont corrigées comme celles des problèmes habituels, si ce n'est qu'une note sur 7 est également attribuée à chaque solution. Cette note est donnée à titre informatif et n'est pas visible par les autres utilisateurs.</p>

<p>Une fois qu'un test virtuel est terminé, tous ses problèmes sont transférés dans leur section respective et peuvent être résolus comme les autres problèmes du site. Les points associés à un problème peuvent donc être obtenus même après le test, qui donne simplement une occasion de s'entraîner à écrire des solutions en un temps limité.</p>

<p>Un test virtuel ne devient visible pour un utilisateur que lorsque ce dernier a complété les chapitres considérés comme nécessaires à la bonne résolution des problèmes du test. De manière générale, un minimum de 200 points est également requis pour avoir accès aux tests virtuels.</p>
</div>
</div>
