<% provide(:title, "Test ##{ @virtualtest.number }") %>

<h1><%= title_virtualtests("Test ##{@virtualtest.number}") %></h1>

<!-- Chronomètre -->
<% start_time = Takentest.where(:user_id => current_user.id, :virtualtest_id => @virtualtest.id).first.taken_time %>
<%= render 'shared/clock', text: "Temps restant", date_limit: start_time.to_i + 60 * @virtualtest.duration, message_zero: "Temps écoulé", classes: "pt-1 mb-3" %>

<% x = 1 %>
<% numero = 0 %>
  
<!-- Affichage des problèmes -->
<ul class="nav nav-tabs nav-justified flex-column flex-md-row mb-3">
<% @virtualtest.problems.order(:position).all.each do |p| %>
  <li class="nav-item">
  <% if p == @problem %>
    <% numero = x %>
  <% end %>
  <%= link_to "Problème #{ x }", virtualtest_path(@virtualtest, :p => p.id), :class => "nav-link #{'active' if p == @problem}" %></li>
  <% x = x+1 %>
<% end %> 
</ul>
  
<!-- Si on doit afficher un problème -->
<% if !@problem.nil? %>
  <%= render 'problems/show_in_test', problem: @problem, virtualtest: @virtualtest %>
<% end %>

