<% provide(:title, "Test ##{ @virtualtest.number }") %>

<!-- Script pour chronomètre -->
<% initial = Takentest.where(:user_id => current_user.sk.id, :virtualtest_id => @virtualtest.id).first.taken_time %>
<% depart = initial.to_i %>

<% compteur = 0 %>

<h1><%= title_virtualtests("Test ##{@virtualtest.number}") %></h1>

<!-- Chronomètre -->
<p class="mt-3 text-center" style="font-size:20px;">Temps restant : <b><span id="clockbox0">--------</span></b></p>
<%= render 'contests/clock', date_limit: depart + 60*@virtualtest.duration, message_zero: "Temps écoulé", p_id: 0 %>

<% x = 1 %>
<% numero = 0 %>
  
<!-- Affichage des problèmes -->
<ul class="nav nav-tabs nav-justified flex-column flex-md-row mt-4 mb-3">
<% @virtualtest.problems.order(:position).all.each do |p| %>
  <li class="nav-item">
  <% if p == @problem %>
    <% numero = x %>
  <% end %>
  <%= link_to "Problème #{ x }", virtualtest_path(@virtualtest, :p => p.id), :class => "nav-link #{'active' if p == @problem}" %></li>
  <% x = x+1 %>
<% end %> 
</ul>
  
<!-- Si on doit afficher un problème -->
<% if !@problem.nil? %>
  <%= render 'problems/show_in_test', problem: @problem, virtualtest: @virtualtest %>
<% end %>

