<% provide(:title, "Test ##{ @virtualtest.number }") %>

<% statut = current_user.sk.status(@virtualtest.id) %>

<!-- Script pour chronomètre -->
<% initial = Takentest.where(:user_id => current_user.sk.id, :virtualtest_id => @virtualtest.id).first.takentime %>
<% depart = initial.to_i %>
<%= render 'contests/clock', date_limit: depart + 60*@virtualtest.duration, message_zero: "Temps écoulé", p_id: 0 %>

<% compteur = 0 %>

<h1><%= title_2((link_to "Tests virtuels", virtualtests_path), "Test ##{@virtualtest.number}") %></h1>

<!-- Chronomètre -->
<br/><center><span style="font-size:20px;">Temps restant : <b><span id="clockbox0">--------</span></b></span></center>

<% x = 1 %>
<% numero = 0 %>

<% prob = -1 %>
<% @problem = nil %>
<% if(params.has_key?:p) %>
  <% prob = params[:p].to_i %>
<% end %>

<br/>
  
<!-- Affichage des problèmes -->
<ul class="nav nav-tabs nav-justified">
<% @virtualtest.problems.order(:position).all.each do |p| %>
  <li role="presentation"
  <% if p.id == prob %>
    class="active"
    <% numero = x %>
    <% @problem = p %>
  <% end %>
  ><%= link_to "Problème #{ x }", virtualtest_path(@virtualtest, :p => p.id) %></li>
  <% x = x+1 %>
<% end %> 
</ul>
  
<!-- Si on doit afficher un problème -->
<% if !@problem.nil? %>
  <%= render 'problems/showintest', problem: @problem, virtualtest: @virtualtest %>
<% end %>

