<% provide(:title, 'Erreur 404') %>

<div class="error">
  <span style="font-size:18px; font-weight:bold; color:rgb(200,0,0);">Désolé... Cette page n'existe pas.</span><br/><br/><br/>
  Si vous êtes arrivé ici via un lien interne au site, alors prévenez-nous à l'adresse suivante :<br/><br/>
  <center><%= image_tag "contact.jpg", :style => "width:80%; max-width:220px;" %></center>
</div>