<% provide(:title, 'Erreur 422') %>

<div class="error">
  <p class="fw-bold fs-5 error-text mb-5">Désolé... Une erreur interne est survenue.</p>
  <p>Si vous êtes arrivé ici via un lien interne au site, alors prévenez-nous à l'adresse suivante :</p>
  <p class="mb-0 text-center"><%= image_tag "contact.svg", :class => "svg-black-white", :style => "width:80%; max-width:240px;" %></p>
</div>
