<!-- On vérifie que ce problème peut bien être vu -->
<% if p.online %>
  <% unless p.can_be_seen_by(current_user, @no_new_submission) %>
    <table class="table table-bordered reference greyy">
    <tr><td class="title">Ce sujet fait référence à un problème auquel vous n'avez pas accès.</td></tr>
    </table>
  <% else %>	  
    <% if current_user.admin? %>
      <% classe = "yellowy" %>
      <% msg = "" %>
    <% elsif current_user.pb_solved?(p) %>
      <% classe = "greeny" %>
      <% msg = ", que vous avez résolu" %>
    <% else %>
      <% classe = "yellowy" %>
      <% msg = ", que vous n'avez pas résolu" %>
    <% end %>
    
    <table class="table table-bordered reference <%= classe %>">
    <tr><td class="title">Ce sujet fait référence à <%= link_to "ce problème", problem_path(p, :auto => 1), :target => "_blank" %><%= msg %> :</td></tr>

    <!-- Enoncé -->
    <tr><td class="content">
    <%= htmlise(p.statement) %>
    </td></tr>
  <% end %>
  </table>
<% end %>
