<SCRIPT language="javascript">
var i = 1;
function add() {

    //Create an input type dynamically.
    var element = document.createElement("input");
    var element2 = document.createElement("input");

    //Assign different attributes to the element.
    element.setAttribute("type", "file");
    element.setAttribute("name", "file"+i);

    element2.setAttribute("type", "hidden");
    element2.setAttribute("name", "hidden"+i);
    element2.setAttribute("value", "ok");

    var foo = document.getElementById("fooBar");
    var br = document.createElement("br");

    if(i == 1)
    {
      var avert = document.createElement("p");
      var bold = document.createElement("b");
      var text = document.createTextNode("Taille totale autorisée : 10 Mo. Type de fichiers autorisés : zip, pdf, doc, gif, jpg, png, bmp, txt.");
      bold.appendChild(text);
      avert.appendChild(bold);
      foo.appendChild(avert);
      foo.appendChild(br);
    }

    i = i+1;

    //Append the element in page (in span).
    foo.appendChild(element2);
    foo.appendChild(element);
    foo.appendChild(br);
}
</SCRIPT>

<% q = 0 %>
<% if(params.has_key?:q) %>
  <% q = params[:q].to_i %>
<% end %>

<% provide(:title, 'Créer un sujet') %>
<h1>
<span style="font-size:16px;"><%= link_to "Forum", subjects_path(:q => q) %> ></span>
Créer un sujet</h1>
<span style="color:red;">Veillez à ne dévoilez aucune solution à un exercice ou un problème.</span><br/><br/>
<% if @chapter.nil? %>
  <% quoi = @subject %>
<% else %>
  <% quoi = [@chapter, @subject] %>
<% end %>

<%= form_for quoi, :html => { :multipart => true } do |f| %>
  <%= render 'form', f: f %>
  <span id="fooBar"></span>
  
  <input type="button" value="Ajouter une pièce jointe" onclick="add()"/>
  <br /><br/>
  <%= f.submit "Créer", class: "btn btn-lg btn-primary", :disabled => current_user.other %>
<% end %>

<script>
  PreviewSafe.Init();
  PreviewSafe.Update();
</script>
