<% provide(:title, 'Modifier un point théorique') %>

<h1><%= title_4("Théorie", (link_to @theory.chapter.section.name, @theory.chapter.section), (link_to @theory.chapter.name, chapter_path(@theory.chapter, :type => 1, :which => @theory.id)), "Modifier un point théorique") %></h1>

<%= form_for(@theory) do |f| %>
  <%= render 'form', f: f %>
  <%= f.submit "Modifier", class: "btn btn-lg btn-primary" %>
<% end %>
