<% provide(:title, 'Modifier un point théorique') %>
<h1>Modifier un point théorique</h1>

<%= form_for(@theory) do |f| %>
  <%= render 'fields', f: f %>
  <br />
  <%= f.submit 'Éditer', class: 'btn btn-large btn-primary' %>
<% end %>

<br />
<center><%= link_to 'Retour au chapitre', @theory.chapter %></center>
