<% provide(:title, 'Modifier un point théorique') %>
<h1>Modifier un point théorique</h1>

  <div class="span12">    
    <%= form_for(@theory) do |f| %>
      <%= render 'form', f: f %>
      <br />
      <%= f.submit "Editer", class: "btn btn-large btn-primary" %>
    <% end %>
  </div>
<br/>
<center><%= link_to 'Retour au chapitre', chapter_path(@theory.chapter, :type => 1, :which => @theory.id) %></center>

<script>
Preview.Init();
Preview.Update();
</script>
