<% provide(:title, 'Créer un point théorique') %>
<h1>Créer un point théorique</h1>

<%= form_for(@theory, url: chapter_theories_path) do |f| %>
  <%= render 'fields', f: f %>
  <br />
  <%= f.submit "Créer", class: "btn btn-large btn-primary" %>
<% end %>

<br/>
<center><%= link_to 'Retour au chapitre', @chapter %></center>
