<% provide(:title, 'Remplacer un fichier') %>

<h1><%= title_2((link_to "Pièces jointes", myfiles_path), "Remplacer un fichier") %></h1>

<% name = @myfile.file.filename.base %>
<% truncated = (name.size > 30 ? [name[0,20],name[-7,7]].join("...") : name) %>

<p>Vous vous apprêtez à remplacer le fichier suivant : <%= link_to truncated, rails_blob_path(@myfile.file, disposition: 'attachment') %>.</p>

<%= form_for @myfile, :html => { :multipart => true } do |f| %>
  <label name="file">Nouveau fichier</label>
  <input type="file" name="file">
  <br/>
  <%= f.submit "Remplacer", class: "btn btn-lg btn-primary" %>
<% end %>
