<% provide(:title, 'Vos images') %>
<h1>Vos images</h1>
Pour récupérer l'url d'une de vos images, cliquez dessus.<br/><br/>
<div class="column">

<% i = 0 %>
<% current_user.sk.pictures.each do |p| %>
  <% if i % 4 == 0 %>
    <div class="row">
  <% end %>

  <div class="span3">
  <%= link_to image_tag(p.image.url, :style => "margin-bottom:15px;"), p %>
  <center><%= link_to "Supprimer cette image", p, method: :delete, data: { confirm: "Soyez certain que cette image n'est utilisée nulle part dans le site (même éventuellement par quelqu'un d'autre que vous)! Etes-vous sûr de vouloir supprimer cette image ?" } %></center><br/><br/>
  </div>

  <% if i % 4 == 3 %>
    </div>
  <% end %>

  <% i = i + 1 %>
<% end %>
</div>

<br/><br/>
<center><%= button_to "Uploader une nouvelle image", new_picture_path, method: :get, class: 'btn btn-large' %></center>
