<% provide(:title, 'Vos images') %>

<h1><%= title_1("Vos images") %></h1>

<p>Pour récupérer l'url d'une image, cliquez dessus.</p>
<div class="column">

<% i = 0 %>
<% current_user.sk.pictures.each do |p| %>
  <% if i % 4 == 0 %>
    <div class="grid" style="--bs-columns:12;">
  <% end %>

  <div class="g-col-6 g-col-md-4 g-col-lg-3">
  <%= link_to image_tag(p.image, :class => "mb-2", :style => "width:100%;"), p, target: "_blank" %>
  <p class="text-center">
  <%= link_to "Supprimer cette image", p, method: :delete, data: { confirm: "Soyez certain que cette image n'est utilisée nulle part dans le site (même éventuellement par quelqu'un d'autre que vous) ! Êtes-vous sûr de vouloir supprimer cette image ?" } %>
  </p>
  </div>

  <% if i % 4 == 3 %>
    </div>
  <% end %>

  <% i = i + 1 %>
<% end %>
</div>

<center><%= button_to "Uploader une nouvelle image", new_picture_path, method: :get, class: 'btn btn-lg btn-ld-light-dark' %></center>
