<% provide(:title, 'Récupérer un url') %>

<h1><%= title_2((link_to "Vos images", pictures_path), "MT-PICTURE-#{@pic.id}") %></h1>

<br/>
<center>
<%= image_tag @pic.image, :style => "width:800px;" %>
</center>
