<% provide(:title, 'Récupérer un url') %>

<h1><%= title_2((link_to "Vos images", pictures_path), "Récupérer un url") %></h1>

<br/>
<center>
<%= image_tag @picture.image, :style => "width:800px;" %><br/><br/>
<%= picture_image_url(@picture, :only_path => true, :key => @picture.access_key) %>
</center>
