<% provide(:title, 'Récupérer un url') %>
<h1>Récupérer l'url d'une image</h1>
<br/>
<center>
<%= image_tag @pic.image.url, :style => "width:600px;" %>
<br/><br/>
<%= @pic.image.url %>
</center>
<br/>
<center><%= link_to "Retour à mes images", pictures_path %></center>
