<% provide(:title, 'Récupérer un url') %>

<h1><%= title_2((link_to "Vos images", pictures_path), "Récupérer un url") %></h1>

<br/>
<center>
<%= image_tag @pic.image, :style => "width:800px;" %><br/><br/>
<%= rails_blob_url(@pic.image, :only_path => true) %>
</center>
