<% provide(:title, 'Modifier un chapitre') %>

<h1><%= title_chapter(@chapter, "Modifier") %></h1>

<%= form_for(@chapter) do |f| %>
  <%= render 'form', f: f %>
  <%= f.submit "Modifier", class: "btn btn-lg btn-primary" %>
<% end %>
