<% provide(:title, 'Modifier un chapitre') %>
<h1>Modifier un chapitre</h1>

<div class="row">
  <div class="span6">
    <%= form_for(@chapter) do |f| %>
      <%= render 'fields', f: f %>
      <br />
      <%= f.submit "Editer", class: "btn btn-large btn-primary" %>
    <% end %>
  </div>
</div>



<%= link_to 'Retour', chapter_path(@chapter) %>
