<% provide(:title, 'Créer un chapitre') %>

<h1>Créer un chapitre</h1>
<div class="row">
  <div class="span12">
    <%= form_for(@chapter, url: section_chapters_path) do |f| %>
      <%= render 'fields', f: f %>
      <br />
      <%= f.submit "Ajouter", class: "btn btn-large btn-primary" %>
    <% end %>
  </div>
</div>

<center><%= link_to 'Retour', sections_path %></center>


<script>
Preview.Init();
Preview.Update();
</script>
