<% provide(:title, 'Créer un chapitre') %>

<h1>Créer un chapitre</h1>
Tous les chapitres ajoutés sont, par défauts, inclus dans la section "Fondements" (il n'appartient en fait à aucune vraie section, entendant par là l'une des quatre autres). Pour insérer ce chapitre dans une ou plusieurs autres sections, il vous suffit de vous rendre sur ce chapitre et de l'ajouter à une section par le biais d'un lien s'y trouvant. <br/><br/>
<div class="row">
  <div class="span6">
    <%= form_for([@section,@chapter]) do |f| %>
      <%= render 'fields', f: f %>
      <br />
      <%= f.submit "Ajouter", class: "btn btn-large btn-primary" %>
    <% end %>
  </div>
</div>

<%= link_to 'Retour', @section %>
