<% provide(:title, 'Créer un chapitre') %>

<h1>Créer un chapitre</h1>
Vous pourrez choisir la ou les sections auxquelles ce chapitre appartient dès que celui-ci sera créé. <br/><br/>
<div class="row">
  <div class="span12">
    <%= form_for([@section,@chapter]) do |f| %>
      <%= render 'fields', f: f %>
      <br />
      <%= f.submit "Ajouter", class: "btn btn-large btn-primary" %>
    <% end %>
  </div>
</div>

<center><%= link_to 'Retour', sections_path %></center>


<script>
Preview.Init();
Preview.Update();
</script>
