<% provide(:title, 'Créer un chapitre') %>

<h1>
<span style="font-size:16px;">Cours ></span>
<span style="font-size:24px;"><%= link_to @section.name, @section %> ></span>
Créer un chapitre
</h1>

    <%= form_for(@chapter, url: section_chapters_path) do |f| %>
      <%= render 'form', f: f %>
      <%= f.submit "Ajouter", class: "btn btn-lg btn-primary" %>
    <% end %>

<script>
Preview.Init();
Preview.Update();
</script>
