<% provide(:title, 'Ajouter à un section') %>
<h1>Ajouter à une section</h1>

<center>
  <% unless @sections_to_add.empty? %>
    <h2>Ajouter à une des sections suivantes</h2>
    <section>
    <% @sections_to_add.each do |s| %>
      <br/>
      <div style="border: 1px solid black; width:600px;">
        <%= link_to image_tag(s.image, alt: s.name),
          chapter_add_section_path(@chapter, s) %>
        </div>
      <% end %>
    </section>
  <% end %>
  <% unless @sections_to_remove.empty? %>
    <h2>Retirer d'une des sections suivantes</h2>
    <section>
    <% @sections_to_remove.each do |s| %>
      <br/>
      <div style="border: 1px solid black; width:600px;">
        <%= link_to image_tag(s.image, alt: s.name),
          chapter_remove_section_path(@chapter, s) %>
        </div>
      <% end %>
    </section>
  <% end %>

</center>

<%= link_to "Retour au chapitre " + @chapter.name,
  chapter_path(@chapter) %>
