<% provide(:title, "Mise en ligne d'un chapitre".html_safe) %>

<h1>
  <span class="title-first">Théorie ></span>
  <span class="title-second"><%= link_to @chapter.section.name, @chapter.section %> ></span>
  <span class="title-third"><%= link_to @chapter.name, @chapter %> ></span>
  Mise en ligne
</h1>

Vous vous apprêtez à mettre un chapitre en ligne.<br/><br/>

<b>Merci de contacter un responsable du site avant de faire cette opération lourde de conséquence !</b><br/><br/>

<center>
  <%= button_to "Mettre ce chapitre en ligne", chapter_put_online_path(@chapter), :method => :put, class: 'btn-danger btn-lg', data: {confirm: "Êtes-vous sûr de vouloir mettre ce chapitre en ligne ?"} %>
</center>
