/* ACTUALITIES */

table.actuality td.title {
  padding-left:10px;
  border-right:none;
}

table.actuality td.title h3 {
  margin:5px;
}

table.actuality td.date {
  vertical-align:middle;
  text-align:right;
  font-size:18px;
  border-left:none;
  padding-right:15px;
}

table.actuality td.content {
  padding:15px;
}

table.actuality td.modify {
  text-align:center;
}

