/* BOUTON */

.btn-grey {
  background-color: #f5f5f5!important;
}

.btn-grey:focus {
  background-color: #f5f5f5!important;
  border-color: #ccc!important;
}

.btn-grey:hover, .btn-grey.active, .open > .btn-grey.dropdown-toggle {
  background-color: #e6e6e6!important;
}

.btn-grey .badge {
  background-color: #333!important;
}
