/* TEXTE CACHE & INDICE */

.clue {
  padding:7px;
  margin-top:10px;
}

.clue-bis {
}

.clue-hide {
  height:0;
  overflow-y:hidden;    
}
  
.clue-content {
  margin-top:12px;
  padding-left:5px;
}
