[data-bs-theme="light"] {
  .module {
    border: 1px solid #dddddd;
  }
}

/* COULEUR VERTE */

[data-bs-theme="light"] {
  .greeny .title {
    background-color: #d7efd9;
  }

  .greeny .module {
    background-color: #f2f7f3;  
  }
}

[data-bs-theme="dark"] {
  .greeny {
    border: 1px solid #79ca82; // 56 % lighter
  }

  .greeny .title {
    background-color: #1f4f24; // 6 % lighter
  }

  .greeny .module {
    background-color: #183d1c;
    border: 1px solid #54bc5f; // 44 % lighter
  }
}


/* COULEUR JAUNE */

[data-bs-theme="light"] {
  .yellowy .title {
    background-color: #fffad2;
  }

  .yellowy .module {
    background-color: #fffded;
  }
}

[data-bs-theme="dark"] {
  .yellowy {
    border: 1px solid #bfad8b;
  }
  
  .yellowy .title {
    background-color: #51442d;
  }

  .yellowy .module {
    background-color: #413724;
    border: 1px solid #ad976c;
  }
}

/* COULEUR GRISE */

[data-bs-theme="light"] {
  .greyy .title {
    background-color: #f0f0f0;
  }

  .greyy .module {
    background-color: #f9f9f9;
  }
}

[data-bs-theme="dark"] {
  .greyy {
    border: 1px solid #a5a5a5;
  }
  
  .greyy .title {
    background-color: #3f3f3f;
  }

  .greyy .module {
    background-color: #333333;
    border: 1px solid #8d8d8d;
  }
}

/* COULEUR ORANGE */

[data-bs-theme="light"] {
  .orangey .title {
    background-color: #ffe7c5;
  }

  .orangey .module {
    background-color: #fff4e6;
  }
}

[data-bs-theme="dark"] {
  .orangey {
    border: 1px solid #fdaf44;
  }
  
  .orangey .title {
    background-color: #683d01;
  }

  .orangey .module {
    background-color: #4f2e01;
    border: 1px solid #fc9911;
  }
}

/* COULEUR ROUGE */

[data-bs-theme="light"] {
  .redy .title {
    background-color: #ffd9de;
  }

  .redy .module {
    background-color: #ffedef;
  }
}

[data-bs-theme="dark"] {
  .redy {
    border: 1px solid #ff4059;
  }
  
  .redy .title {
    background-color: #65000d;
  }

  .redy .module {
    background-color: #4b000a;
    border: 1px solid #ff0b2c;
  }
}
