/*

.table-primary {
  --bs-table-color: #000;
  --bs-table-bg: #cfe2ff;
  --bs-table-border-color: #bacbe6;
  --bs-table-striped-bg: #c5d7f2;
  --bs-table-striped-color: #000;
  --bs-table-active-bg: #bacbe6;
  --bs-table-active-color: #000;
  --bs-table-hover-bg: #bfd1ec;
  --bs-table-hover-color: #000;
  color: var(--bs-table-color);
  border-color: var(--bs-table-border-color);
}

.table-secondary {
  --bs-table-color: #000;
  --bs-table-bg: #e2e3e5;
  --bs-table-border-color: #cbccce;
  --bs-table-striped-bg: #d7d8da;
  --bs-table-striped-color: #000;
  --bs-table-active-bg: #cbccce;
  --bs-table-active-color: #000;
  --bs-table-hover-bg: #d1d2d4;
  --bs-table-hover-color: #000;
  color: var(--bs-table-color);
  border-color: var(--bs-table-border-color);
}

.table-success {
  --bs-table-color: #000;
  --bs-table-bg: #d1e7dd;
  --bs-table-border-color: #bcd0c7;
  --bs-table-striped-bg: #c7dbd2;
  --bs-table-striped-color: #000;
  --bs-table-active-bg: #bcd0c7;
  --bs-table-active-color: #000;
  --bs-table-hover-bg: #c1d6cc;
  --bs-table-hover-color: #000;
  color: var(--bs-table-color);
  border-color: var(--bs-table-border-color);
}

.table-info {
  --bs-table-color: #000;
  --bs-table-bg: #cff4fc;
  --bs-table-border-color: #badce3;
  --bs-table-striped-bg: #c5e8ef;
  --bs-table-striped-color: #000;
  --bs-table-active-bg: #badce3;
  --bs-table-active-color: #000;
  --bs-table-hover-bg: #bfe2e9;
  --bs-table-hover-color: #000;
  color: var(--bs-table-color);
  border-color: var(--bs-table-border-color);
}

.table-warning {
  --bs-table-color: #000;
  --bs-table-bg: #fff3cd;
  --bs-table-border-color: #e6dbb9;
  --bs-table-striped-bg: #f2e7c3;
  --bs-table-striped-color: #000;
  --bs-table-active-bg: #e6dbb9;
  --bs-table-active-color: #000;
  --bs-table-hover-bg: #ece1be;
  --bs-table-hover-color: #000;
  color: var(--bs-table-color);
  border-color: var(--bs-table-border-color);
}

.table-danger {
  --bs-table-color: #000;
  --bs-table-bg: #f8d7da;
  --bs-table-border-color: #dfc2c4;
  --bs-table-striped-bg: #eccccf;
  --bs-table-striped-color: #000;
  --bs-table-active-bg: #dfc2c4;
  --bs-table-active-color: #000;
  --bs-table-hover-bg: #e5c7ca;
  --bs-table-hover-color: #000;
  color: var(--bs-table-color);
  border-color: var(--bs-table-border-color);
}

.table-light {
  --bs-table-color: #000;
  --bs-table-bg: #f8f9fa;
  --bs-table-border-color: #dfe0e1;
  --bs-table-striped-bg: #ecedee;
  --bs-table-striped-color: #000;
  --bs-table-active-bg: #dfe0e1;
  --bs-table-active-color: #000;
  --bs-table-hover-bg: #e5e6e7;
  --bs-table-hover-color: #000;
  color: var(--bs-table-color);
  border-color: var(--bs-table-border-color);
}

.table-dark {
  --bs-table-color: #fff;
  --bs-table-bg: #212529;
  --bs-table-border-color: #373b3e;
  --bs-table-striped-bg: #2c3034;
  --bs-table-striped-color: #fff;
  --bs-table-active-bg: #373b3e;
  --bs-table-active-color: #fff;
  --bs-table-hover-bg: #323539;
  --bs-table-hover-color: #fff;
  color: var(--bs-table-color);
  border-color: var(--bs-table-border-color);
}

*/

[data-bs-theme="light"] {
  .table-ld-header {
    --bs-table-color: #000;
    --bs-table-bg: #f3f4f5;
    --bs-table-border-color: #dfe0e1;
    color: var(--bs-table-color);
    border-color: var(--bs-table-border-color);
  }
}

[data-bs-theme="dark"] {
  .table-ld-header {
    --bs-table-color: #fff;
    --bs-table-bg: #2b2f33;
    --bs-table-border-color: #373b3e;
    color: var(--bs-table-color);
    border-color: var(--bs-table-border-color);
  }
}



[data-bs-theme="light"] {
  .table-ld-primary {
    --bs-table-color: #000;
    --bs-table-bg: #cfe2ff;
    --bs-table-border-color: #bacbe6;
    color: var(--bs-table-color);
    border-color: var(--bs-table-border-color);
  }
  
  .bg-as-table-ld-primary {
    color: #000;
    background-color: #cfe2ff;
    border: 1px solid #bacbe6;
  }
}

[data-bs-theme="dark"] {
  .table-ld-primary {
    --bs-table-color: #fff;
    --bs-table-bg: #002d73;
    --bs-table-border-color: #144187;
    color: var(--bs-table-color);
    border-color: var(--bs-table-border-color);
  }
  
  .bg-as-table-ld-primary {
    color: #fff;
    background-color: #002d73;
    border: 1px solid #144187;
  }
}



[data-bs-theme="light"] {
  .table-ld-danger {
    --bs-table-color: #000;
    --bs-table-bg: #f8d7da;
    --bs-table-border-color: #dfc2c4;
    color: var(--bs-table-color);
    border-color: var(--bs-table-border-color);
  }
}

[data-bs-theme="dark"] {
  .table-ld-danger {
    --bs-table-color: #fff;
    --bs-table-bg: #6a121a;
    --bs-table-border-color: #7e262e;
    color: var(--bs-table-color);
    border-color: var(--bs-table-border-color);
  }
}



[data-bs-theme="light"] {
  .table-ld-warning {
    --bs-table-color: #000;
    --bs-table-bg: #fff3cd;
    --bs-table-border-color: #e6dbb9;
    color: var(--bs-table-color);
    border-color: var(--bs-table-border-color);
  }
  
  .bg-as-table-ld-warning {
    color: #000;
    background-color: #fff3cd;
    border: 1px solid #e6dbb9;
  }
}

[data-bs-theme="dark"] {
  .table-ld-warning {
    --bs-table-color: #fff;
    --bs-table-bg: #5b4500;
    --bs-table-border-color: #5f5914;
    color: var(--bs-table-color);
    border-color: var(--bs-table-border-color);
  }
  
  .bg-as-table-ld-warning {
    color: #fff;
    background-color: #5b4500;
    border: 1px solid #5f5914;
  }
}



[data-bs-theme="light"] {
  .table-ld-warning-greener {
    --bs-table-color: #000;
    --bs-table-bg: #e1f3af;
    --bs-table-border-color: #e6dbb9;
    color: var(--bs-table-color);
    border-color: var(--bs-table-border-color);
  }
  
  .bg-as-table-ld-warning-greener {
    color: #000;
    background-color: #e1f3af;
    border: 1px solid #e6dbb9;
  }
}

[data-bs-theme="dark"] {
  .table-ld-warning-greener {
    --bs-table-color: #fff;
    --bs-table-bg: #5b5900;
    --bs-table-border-color: #5f5914;
    color: var(--bs-table-color);
    border-color: var(--bs-table-border-color);
  }
  
  .bg-as-table-ld-warning-greener {
    color: #fff;
    background-color: #5b5900;
    border: 1px solid #5f5914;
  }
}



[data-bs-theme="light"] {
  .table-ld-warning-reder {
    --bs-table-color: #000;
    --bs-table-bg: #ffd5af;
    --bs-table-border-color: #e6dbb9;
    color: var(--bs-table-color);
    border-color: var(--bs-table-border-color);
  }
  
  .bg-as-table-ld-warning-reder {
    color: #000;
    background-color: #ffd5af;
    border: 1px solid #e6dbb9;
  }
}

[data-bs-theme="dark"] {
  .table-ld-warning-reder {
    --bs-table-color: #fff;
    --bs-table-bg: #6f4500;
    --bs-table-border-color: #5f5914;
    color: var(--bs-table-color);
    border-color: var(--bs-table-border-color);
  }
  
  .bg-as-table-ld-warning-reder {
    color: #fff;
    background-color: #6f4500;
    border: 1px solid #5f5914;
  }
}



[data-bs-theme="light"] {
  .table-ld-success {
    --bs-table-color: #000;
    --bs-table-bg: #d1e7dd;
    --bs-table-border-color: #bcd0c7;
    color: var(--bs-table-color);
    border-color: var(--bs-table-border-color);
  }
}

[data-bs-theme="dark"] {
  .table-ld-success {
    --bs-table-color: #fff;
    --bs-table-bg: #254838;
    --bs-table-border-color: #395c4c;
    color: var(--bs-table-color);
    border-color: var(--bs-table-border-color);
  }
}



[data-bs-theme="light"] {
  .table-ld-info {
    --bs-table-color: #000;
    --bs-table-bg: #cff4fc;
    --bs-table-border-color: #badce3;
    color: var(--bs-table-color);
    border-color: var(--bs-table-border-color);
  }
}

[data-bs-theme="dark"] {
  .table-ld-info {
    --bs-table-color: #fff;
    --bs-table-bg: #065263;
    --bs-table-border-color: #1a6677;
    color: var(--bs-table-color);
    border-color: var(--bs-table-border-color);
  }
}
