/* COULEURS */

.text-color-red {
  color: red;
}

.text-color-orange {
  color: orange;
}

.text-color-green {
  color: green;
}

.text-color-black-white {
  color: black;
}

.text-color-mt-blue {
  color: rgb(3,109,170);
}

.text-color-grey {
  color: grey;
}

.text-color-dark-light-blue {
  color: #0000BB;
}




.grey-box {
  background-color: #eeeeee;
  border: 1px solid #dddddd;
}
