/* ERRORS */

.error {
  text-align:center;
  margin-top:20px;
  padding:25px;
  border:1px solid rgb(200,0,0);
}

.error-text {
  color:rgb(200,0,0);
}

// Avoid very big white space after the list of form errors
.alert ul {
  margin-bottom: 0px;
}
