/* USED IN THEORY */

.result-title {
  font-weight: bold;
  padding: 7px;
  padding-left: 9px;
}

.result-content {
  padding: 7px;
  padding-left: 9px;
}

.remark-title {
  font-weight: bold;
  padding: 7px;
  padding-left: 9px;
}

.remark-content {
  padding: 7px;
  padding-left: 9px;
}

.proof-title {
  font-weight: bold;
  padding: 7px;
  padding-left: 9px;
}

.proof-content {
  padding: 7px;
  padding-left: 9px;
}

.MathJax_Display {
  overflow: auto hidden;
}
