/* USED IN THEORY */

.result-title .remark-title .proof-title {
  font-weight: bold;
  padding: 7px;
  padding-left: 9px;
}

.result-content .remark-content .proof-content {
  padding: 7px;
  padding-left: 9px;
  overflow-x: auto;
}
