/* FOOTER */

$grayMediumLight: #eaeaea;
$grayLight: #999999;
$gray: #555555;
$grayDarker: #222222;

footer {
	margin-top: 45px;
	padding-top: 5px;
	border-top: 1px solid $grayMediumLight;
	color: $grayLight;
	a {
		color: $gray;

		&:hover {
			color: $grayDarker;
		}
	}

	small {
		float: left;
	}

	ul {
		float: right;
		list-style: none;

		li {
			float: left;
			margin-left: 10px;
		}
	}
}
