.burger-menu {
    position: relative;
}

.unread-indicator {
    position: absolute;
    top: 2px;
    right: 3px;
    font-size: 12px;
    padding: 2px 5px;
    background-color: red;
    color: white;
    border-radius: 10px;
}
