/* HOME */

.home {
  text-align:center;
  margin-top:10px;
  margin-bottom:15px;
  padding:25px;
  border:1px solid #bbbbbb;
  background-color:#eeeeee;
}

.home-stats {
  font-size:16px;
  border:1px solid #bbbbbb;
  margin-top:15px;
  margin-bottom:10px;
  background-color:#f6f6f6;
}

.home-stats .left {
  text-align:right;
  padding-left:10px;
  padding-right:10px;
  font-weight:bold;
  font-size:18px;
  color:rgb(3,109,170);
}

.home-stats .right {
  text-align:left;
  padding-right:10px;
}

.home_thanks {
  text-align:center;
  margin-bottom:15px;
  padding:15px;
  border:1px solid #bacbe6; // see table-primary
  background-color:#cfe2ff; // see table-primary
}
