/* IMAGES */

.image-pj {
  max-width: 100%;
  
  @media (min-width: map-get($grid-breakpoints, 'md')) { // 768px
    max-width: 440px;
  }
  
  @media (min-width: map-get($grid-breakpoints, 'lg')) { // 992px
    max-width: 670px;
  }
}

.image-pj2 {
  max-width: 100%;
  
  @media (min-width: map-get($grid-breakpoints, 'md')) { // 768px
    max-width: 660px;
  }
  
  @media (min-width: map-get($grid-breakpoints, 'lg')) { // 992px
    max-width: 900px;
  }
}
