/* INFORMATION */

.information {
  height:0px;
  overflow-y:hidden;
  margin-top:-10px;
  .content {
    margin-top:10px;
    margin-bottom:1px;
    padding:15px;
    padding-bottom:0px;
  }
}

.information-tag {
  width:28px;
  height:28px;
  font-weight:bold;
  font-size:14px;
  border-radius:14px;
  margin-left:15px;
  margin-top:5px;
  float:right;
  outline:none;
}
