/* INFORMATION */

.information-tag {
  width: 28px;
  height: 28px;
  font-weight: bold;
  font-size: 16px;
  border-radius: 14px;
  margin-left: 15px;
  margin-top: 5px;
  float: right;
  outline: none;
}
