.level {
  display:none;
  position:absolute; 
  top:20px;
}

.level-up {
  height:4px;
}

.level-in {
  background-color:#EEEEEE;
  padding:3px;
  padding-right:7px;
  padding-left:7px;
  font-weight:bold;
}
