/* POST */

.post > div {
  overflow-x: auto;
  border: 1px solid var(--bs-border-color);

  &:not(:first-child) {
    border-top: none;
  }
}

.post > .header {
  display: flex;
  flex-direction: column;
  background-color: var(--bs-table-bg);
  border-color: var(--bs-table-border-color);

  @media (min-width: map-get($grid-breakpoints, 'sm')) {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}

.post .title { // Used for actualities (instead of .author)
}

.post .author {
  font-weight: bold;
}

.post .date {
  text-align: right;
  border-top: 1px solid;
  border-color: inherit;

  @media (min-width: map-get($grid-breakpoints, 'sm')) {
    border-top: none;
  }
}

.post .title,
.post .author,
.post .date {
  padding: 12px 15px;
}

.post > .content {
  padding: 15px;
  overflow-x: auto;
}

.post > .modify {
  text-align: center;
  padding: 0.5rem;
}
