/* POST */

.post {
  margin-top: 20px;
}

.post .content {
  padding: 15px;
}

.post .modify {
  text-align: center;
}

.post > .header .author {
  font-size: 20px;
  font-weight: bold;
}

.post > .header .date {
  vertical-align: middle;
  text-align: right;
  font-size: 18px;
}

.post > .header {
  display: flex;
  flex-direction: column;  
  justify-content: space-between;
  padding: 10px 15px;

  background-color: var(--bs-table-bg);

  @media (min-width: map-get($grid-breakpoints, 'sm')) {
    flex-direction: row;
    align-items: center;
  }
}
