/* EXERCICE AUQUEL ON REFERE DANS UN SUJET */

.reference {
  margin-bottom:0px!important;
  margin-top:15px;
}

.reference .title {
  padding:10px;
  text-align:center;
  font-style:italic;
}

.reference .content {
  padding:10px;
}
