/* SELECT2 */

.select2-container--bootstrap .select2-results__group {
  color:black;
  padding: 2px 12px;
  font-size:14px;
  line-height: 1.4
}

.select2-container--bootstrap .select2-results__option {
  padding: 6px 12px;
  line-height: 1
}
