/* SUBMISSION TABLES */

td.sub-status, th.sub-status {
  width: 70px;
  text-align: center;
}

td.sub-date, th.sub-date {
  width: 220px;
}

td.sub-user, th.sub-user {
  width: 200px;
}

td.sub-type, th.sub-type {
  width: 100px;
  text-align: center;
}

td.sub-length, th.sub-length {
  width: 60px;
  text-align: center;
}

td.sub-match, th.sub-match {
  width: 30px;
  text-align: center;
}

td.sub-link, th.sub-link {
  width: 54px;
  text-align: center;
}

th.sub-link-scroll {
  width: 70px;
  text-align: center;
}
