/* TITLES WITH SOMETHING ON THE RIGHT (OR BOTTOM) */

$title-breakpoints: lg md;

@each $title-breakpoint in $title-breakpoints {

  .split-title-#{$title-breakpoint} {
    display: flex;
    flex-direction: column;

    @media (min-width: map-get($grid-breakpoints, '#{$title-breakpoint}')) {
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
    }
  }

  .split-title-#{$title-breakpoint} .part-1 {
  }

  .split-title-#{$title-breakpoint} .part-2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 0.5em;
    @media (min-width: map-get($grid-breakpoints, '#{$title-breakpoint}')) {
      justify-content: flex-end;
      padding-left: 1em;
    }
  }
}
