/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 */

// Bootstrap parameters:
$font-size-base: 0.875rem;
$enable-negative-margins: true;
$link-decoration: none;
$link-hover-decoration: underline;
$body-color-dark: white;

@import "bootstrap";
@import "select2";
// @import "select2-bootstrap"; // Now we import the .css file for select2-bootstrap-5 only on pages needing it
@import "./common/*";
@import "./screen/*";
