/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 */

// Import Font Ubuntu (NB: Other orders do not work!)

@font-face {
  font-family: "Ubuntu";
  font-weight: 700;
  font-style: italic;
  src: font-url("Ubuntu-BI.ttf");
}

@font-face {
  font-family: "Ubuntu";
  font-weight: 500;
  font-style: italic;
  src: font-url("Ubuntu-MI.ttf");
}

@font-face {
  font-family: "Ubuntu";
  font-weight: 400;
  font-style: italic;
  src: font-url("Ubuntu-RI.ttf");
}

@font-face {
  font-family: "Ubuntu";
  font-weight: 700;
  src: font-url("Ubuntu-B.ttf");
}

@font-face {
  font-family: "Ubuntu";
  font-weight: 500;
  src: font-url("Ubuntu-M.ttf");
}

@font-face {
  font-family: "Ubuntu";
  font-weight: 400;
  src: font-url("Ubuntu-R.ttf");
}

// Bootstrap parameters:
$font-size-base: 0.875rem;
$enable-negative-margins: true;
$link-decoration: none;
$link-hover-decoration: underline;
$body-color-dark: white;
$enable-cssgrid: true;
$grid-columns: 24;
$font-family-base: "Ubuntu", sans-serif;
$font-family-sans-serif: "Ubuntu", sans-serif;

@import "bootstrap";
@import "select2";
@import "./common/*";
@import "./print/*";
