<br/>
<h4>Commentaires</h4>

<% if @submission.corrections.count == 0 %>
  Aucun commentaire.<br/>
<% end %>

<% @lastid = -1 %>

<% @submission.corrections.order(:created_at).each do |correction| %>

  <% @lastid = correction.id %>
  
  <%= render 'subjects/content', ms: correction, kind: "correction" %>
  
<% end %>
