# Inspired from examples in the README of https://github.com/ruby/setup-ruby
name: CI Unit Tests
on:
  push:
    branches: [master]
  pull_request:
    types: [opened, synchronize, reopened]
jobs:
  test:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Set up Ruby 2.5.1
      uses: ruby/setup-ruby@v1
      with:
        ruby-version: 2.5.1 # Not needed with a .ruby-version file
#       bundler-cache: true # runs 'bundle install' and caches installed gems automatically
    - name: Install Qt
      uses: jurplel/install-qt-action@v2
      with:
        version: '5.5.1'
    - name: Build and test with Rake
      env:
        RAILS_ENV: test
      run: |
        bundle install
        #bundle update rake
        #gem update --system 2.5.1
        #gem install bundler --version 2.2.27
        export SECRET_KEY_BASE=$(bundle exec rake secret)
        RAILS_ENV=test bundle exec rake db:migrate --trace
        bundle exec rake db:test:prepare
        bundle exec rake
