<div class="noprint">
<footer style="margin-top:25px;">
<small>
  <a href="https://github.com/blegat/mathraining">Github repository</a>
</small>
<nav>
<ul>
  <li><%= link_to "A propos", about_path %></li>
  <li><%= link_to "Contact", contact_path %></li>
</ul>
</nav>
</footer>
</div>
