<h4>Énigme <%= number %></h4>

<div class="mb-3" id="puzzle-<%= number %>" style="text-align:justify; <%= "font-family: monospace, monospace;" if puzzle.statement.include?("____") %>">
  <%= htmlise(puzzle.statement) %>
</div>
