<h4>Énigme <%= number %></h4>

<div class="mb-3" id="puzzle-<%= number %>" style="text-align:justify; <%= "font-family: monospace, monospace;".html_safe if puzzle.statement.include?("____") %>">
  <%= raw(htmlise(puzzle.statement)) %>
</div>
